.App {
  text-align: center;
}

body{
  background-color: #343a40 ;
  color: #ffffff ;
}

button.dark-button {
  background-color: #949da7 ;
  color: #ffffff ;
}

/* Style for centering the plot */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust the height as needed */
}
